{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


  <div id="wrapper">
    <div class="container">
      <div class="phone-app-ddemo"></div>
      <div class="form-data">
        <form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
          <div class="logo">
            <br/><br/><br/>
            <span>       </span><h3 style="padding: 50px; font-size: 30px;color:blueviolet">CREATE NEW POST </h3>
          </div>
		  <!-- {{form|crispy}} -->
          {{form.picture}} <br/><br/><br/>
          {{form.caption}} <br/><br/>
          {{form.tags}} <br><br/><br/>
          <button class="form-btn btn-danger btn-lg" type="submit">Post</button>
          <!-- <a href="index.html" class="form-btn" type="submit">Log in</a> -->
          
        </form>
        
      </div>
    </div>


  </div>


{% endblock content %}